<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781958227421-qj8obk5mnpo00nu442krdr605rvn63tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781958227421-qj8obk5mnpo00nu442krdr605rvn63tm</string>
	<key>API_KEY</key>
	<string>AIzaSyBLDDFFOW0ouoVO-AlE4G0jmq4p46egoGc</string>
	<key>GCM_SENDER_ID</key>
	<string>781958227421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookRecommendationSystem</string>
	<key>PROJECT_ID</key>
	<string>book-recommendation-syst-db24e</string>
	<key>STORAGE_BUCKET</key>
	<string>book-recommendation-syst-db24e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781958227421:ios:ac65be0062bbaf8a810234</string>
</dict>
</plist>